<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implicit Declarations</title>

    <!-- css stylesheet  -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- iconscout stylesheet -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- fontawesome  -->
    <script src="https://kit.fontawesome.com/065d7448de.js" crossorigin="anonymous"></script>

    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
</head>

<body>


    <section class="form__section">
        <div class="container form__section-container">
            <h2>Sign In</h2>
            <div class="alert__message success">
                <p>This is a success message</p>
            </div>
            <form action="" enctype="multipart/form-data">                
                <input type="text" placeholder="Username or Email">                
                <input type="password" placeholder="Password">                
                <button class="btn" type="submit">Sign In</button>
                <small>Don't have an account? <a href="signup.html">Sign Up</a></small>
            </form>
        </div>
    </section>
</body>

</html>
