{% extends "base.html" %}

{% block title %}
     Implicit Declarations
{% endblock %}

{% block content %}

 <section class="search__bar">
        <form class="container search__bar-container" action="">
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="" id="" placeholder="Search">
            </div>
            <button type="submit" class="btn">Go</button>
        </form>
    </section>

    <!-- ************************END OF SEARCH BAR SECTION**************************** -->

 <section class="posts">
    <div class="container posts__container">
         {% for post in posts %}
        <article class="post">
            <div class="post__thumbnail">
                {% if post.image %}
                <img src="{{ url_for('static', filename='images/' + post.image) }}" alt="Post Image">
                {% else %}
                <img src="{{ url_for('static', filename='/images/blog18.jpg') }}" alt="Default Image"> 
                {% endif %}
            </div>
            <div class="post__info">
             <a href="{{ url_for('category', category_name=post.category.name) }}" class="category__button">{{ post.category.name}}</a>

                    <h3 class="post__title"><a href="{{ url_for('single_post', post_id=post.id) }}">{{ post.title }}</a></h3>
                    
                    <div class="post__author">
                        <div class="post__author-avator">
                            {% set author = authors[loop.index0] %}
                            {% if current_user.is_authenticated %}
                            <img src="{{ url_for('static', filename='images/' + author.picture) }}" alt="avatar">
                            {% else %}
                            <img src="{{ url_for('static', filename='/images/default_profile_pc.png') }}" alt="Default Image"> 
                            {% endif %}                           
                        </div>
                        <div class="post__author-info">
                            <a href="{{ url_for('profile', username=post.author.username) }}">
                            <h5>By: {{post.author.username }}</h5></a>
                            <small>Date Posted {{ post.timestamp }}</small>
                        </div>
                    </div>
                </div>      
        </article>
        {% endfor %}
    </div>
</section>

 
    <!-- ************************END OF POSTS SECTION**************************** -->


  <section class="category__buttons">
    <div class="container category__buttons-container">
        <a href="{{ url_for('category', category_name='General') }}" class="category__button">General</a>
        <a href="{{ url_for('category', category_name='Tech') }}" class="category__button">Tech</a>
        <a href="{{ url_for('category', category_name='Animals') }}" class="category__button">Animals</a>
        <a href="{{ url_for('category', category_name='Comedy') }}" class="category__button">Comedy</a>
        <a href="{{ url_for('category', category_name='Mystery') }}" class="category__button">Mystery</a>
        <a href="{{ url_for('category', category_name='Culture') }}" class="category__button">Culture</a>
        <a href="{{ url_for('category', category_name='Travel') }}" class="category__button">Travel</a>
        <a href="{{ url_for('category', category_name='People') }}" class="category__button">People</a>
    </div>
</section>
    <!-- ************************END OF CATEGORY BUTTONS  SECTION**************************** -->

{%endblock %}
