{% extends "base.html" %}

{% block content %}

 <header class="category__title">
        <h2>{{ category_name }} Category</h2>
</header>
  <section class="posts">
    <div class="container posts__container">
        {% for post in category_posts %}
            <article class="post">
            <div class="post__thumbnail">
                {% if post.image %}
                <img src="{{ url_for('static', filename='images/' + post.image) }}" alt="Post Image">
                {% else %}
                <img src="{{ url_for('static', filename='/images/blog18.jpg') }}" alt="Default Image"> 
                {% endif %}
            </div>
            <div class="post__info">
                <a href="{{ url_for('category', category_name=post.category.name) }}" class="category__button">{{ post.category.name}}</a>
                <h3 class="post__title"><a href="{{ url_for('single_post', post_id=post.id) }}">{{ post.title }}</a></h3>                   
                    <div class="post__author">
                        <div class="post__author-avator">
                            {% set author = authors[loop.index0] %}
                            {% if current_user.is_authenticated %}
                            <img src="{{ url_for('static', filename='images/' + author.picture) }}" alt="avatar">
                            {% else %}
                            <img src="{{ url_for('static', filename='/images/default_profile_pc.png') }}" alt="Default Image"> 
                            {% endif %}                           
                        </div>
                            <div class="post__author-info">
                            <a href="{{ url_for('user', username=post.author.username) }}">
                            <h5>By: {{post.author.username }}</h5></a>
                            <small> {{ post.timestamp.strftime('%b-%d-%Y') }}</small>
                        </div>
                    </div>
                </div>      
        </article>
        {% endfor %}
    </div>
</section>

{% endblock %}
