{% extends "base.html" %}
{% block content %}
 
<div class="container profile__container">
    <h3>Update your profile</h3>
</div>

<div class="container profile-pic__container"> 
 <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt="">
 </div>
 <section class="form__section">
        <div class="container form__section-container">
                       
            <form action="" enctype="multipart/form-data" method="post">
                 {{ form.hidden_tag() }}                
                               
                 {{ form.picture.label() }} {{ form.picture }}
                 {% if form.picture.error %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                 {% endif %}
                 {{ form.username.label }} {{ form.username(size=20) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                
                <p>
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(cols=70, rows=4) }}<br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                
                {{ form.submit(class="btn") }}
               
            </form>
        </div>
    </section>
 {% endblock %}
