{% extends "base.html" %}
{% block content %}
    <section class="form__section">
        <div class="container form__section-container">
            <h2>Edit Post</h2>            
            <form action="" method="post" enctype="multipart/form-data">
                 {{ form.hidden_tag() }}                  
                 {{ form.title(size=20) }} 
                 {% for error in form.title.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}            
                
                 {{ form.category() }}
                 {% for error in form.category.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
                   
                {{ form.content(rows=10) }}
                {% for error in form.content.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}

                
                
                 <div class="form__control">
                {{ form.image.label }} {{ form.image }}
                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
                 </div>  
                
                {{ form.submit(class="btn", type="submit") }}
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content') }}
        </div>
    </section>

    <style>
        /* Custom CSS for CKEditor */
        /* Style the textarea */
        #cke_content {           
            padding: 2px;            
            background: #2d2b7c;
            min-height: 200px;
            max-height: 300px;
            resize: none; /* Disable textarea resizing */
            overflow: auto;  /* Hide the scrollbar when the content is within the height limit */       
            
        }

        /* Style the toolbar */
        .cke_top {
            background-color: #9494e5;            
            border: 1px solid #2d2b7c;
            padding: 2px;
        }
        
    </style>



{% endblock %}
