{% extends "base.html" %}
{% block content %}
 


<div class="container profile-pic__container"> 
 
                {% if current_user.picture %}
                <img class="display__pic" src="{{ url_for('static', filename='images/' + current_user.picture) }}">
                {% else %}
                <img src="{{ url_for('static', filename='/images/default_profile_pc.png') }}" alt="Default Image"> 
                {% endif %}
 </div>
 <section class="form__section edit__profile">
        <div class="container form__section-container">
                       
            <form action="" enctype="multipart/form-data" method="post">
                 {{ form.hidden_tag() }}                
                               
                 {{ form.picture.label() }} {{ form.picture }}
                 {% if form.picture.error %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                 {% endif %}
                 {{ form.username.label }} {{ form.username(size=20) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                
                <p>
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(cols=70, rows=4) }}<br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                
                {{ form.submit(class="btn") }}
               
            </form>
        </div>
    </section>
 {% endblock %}
