{% extends "base.html" %}

{% block title %}
     Implicit Declarations
{% endblock %}

{% block content %}
 <section class="featured">
        <div class="container featured__container">
            <div class="post__thumbnail">
                <img src="/static/images/blog1.jpg" alt="">
            </div>
            <div class="post__info">
                <a href="category-posts.html" class="category__button">Wild life</a>
                <h2 class="post__title"><a href="post.html">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.</a></h2>
                <p class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum dolorum sed
                    corrupti quasi quia aspernatur eos ullam velit inventore molestiae nihil totam reprehenderit
                    blanditiis, ea, assumenda accusamus laboriosam voluptates.
                </p>
                <div class="post__author">
                    <div class="post__author-avator">
                        <img src="/static/images/avatar2.jpg" alt="">
                    </div>
                    <div class="post__author-info">
                        <h5>By: Jane Doe</h5>
                        <small>June 10, 2022 - 07:20</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ************************END OF FEATURED SECTION**************************** -->


    <section class="posts">
        <div class="container posts__container">
            {% for post in posts %}
            <article class="post">
                <div class="post__thumbnail">
                    <img src="/static/images/blog19.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="{{ url_for('post', post.id) }} category-posts.html" class="category__button">{{ post.category }}</a>
                    <h3 class="post__title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title}}</a>
                    </h3>
                    <p class="post__body">{{ post.content }}
                    </p>
                    <div class="post__author">
                        <div class="post__author-avator">
                            <img src="/static/images/avatar3.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <h5>By: John Doe</h5>
                            <small>June 13, 2022 - 10:20</small>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
            <article class="post">
                <div class="post__thumbnail">
                    <img src="/static/images/blog25.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="category-posts.html" class="category__button">Wild life</a>
                    <h3 class="post__title"><a href="post.html">Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Error, aliquid!</a>
                    </h3>
                    <p class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum dolorum
                        sed
                        corrupti quasi quia aspernatur eos ullam velit inventore molestiae nihil totam reprehenderit
                        blanditiis, ea, assumenda accusamus laboriosam voluptates.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avator">
                            <img src="/static/images/avatar4.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <h5>By: John Doe</h5>
                            <small>June 13, 2022 - 10:20</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="/static/images/blog13.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="category-posts.html" class="category__button">Art</a>
                    <h3 class="post__title"><a href="post.html">Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Error, aliquid!</a>
                    </h3>
                    <p class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum dolorum
                        sed
                        corrupti quasi quia aspernatur eos ullam velit inventore molestiae nihil totam reprehenderit
                        blanditiis, ea, assumenda accusamus laboriosam voluptates.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avator">
                            <img src="/static/images/avatar5.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <h5>By: John Doe</h5>
                            <small>June 13, 2022 - 10:20</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="/static/images/blog2.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="category-posts.html" class="category__button">Music</a>
                    <h3 class="post__title"><a href="post.html">Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Error, aliquid!</a>
                    </h3>
                    <p class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum dolorum
                        sed
                        corrupti quasi quia aspernatur eos ullam velit inventore molestiae nihil totam reprehenderit
                        blanditiis, ea, assumenda accusamus laboriosam voluptates.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avator">
                            <img src="/static/images/avatar10.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <h5>By: John Doe</h5>
                            <small>June 13, 2022 - 10:20</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="/static/images/blog30.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="category-posts.html" class="category__button">Food</a>
                    <h3 class="post__title"><a href="post.html">Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Error, aliquid!</a>
                    </h3>
                    <p class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum dolorum
                        sed
                        corrupti quasi quia aspernatur eos ullam velit inventore molestiae nihil totam reprehenderit
                        blanditiis, ea, assumenda accusamus laboriosam voluptates.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avator">
                            <img src="/static/images/avatar6.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <h5>By: John Doe</h5>
                            <small>June 13, 2022 - 10:20</small>
                        </div>
                    </div>
                </div>
            </article>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="/static/images/blog69.jpg" alt="">
                </div>
                <div class="post__info">
                    <a href="category-posts.html" class="category__button">Science % Technology</a>
                    <h3 class="post__title"><a href="post.html">Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Error, aliquid!</a>
                    </h3>
                    <p class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum dolorum
                        sed
                        corrupti quasi quia aspernatur eos ullam velit inventore molestiae nihil totam reprehenderit
                        blanditiis, ea, assumenda accusamus laboriosam voluptates.
                    </p>
                    <div class="post__author">
                        <div class="post__author-avator">
                            <img src="/static/images/avatar3.jpg" alt="">
                        </div>
                        <div class="post__author-info">
                            <h5>By: John Doe</h5>
                            <small>June 13, 2022 - 10:20</small>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- ************************END OF POSTS SECTION**************************** -->


    <section class="category__buttons">
        <div class=" container category__buttons-container">
            <a href="" class="category__button">Art</a>
            <a href="" class="category__button">Wild Life</a>
            <a href="" class="category__button">Travel</a>
            <a href="" class="category__button">science & Technology</a>
            <a href="" class="category__button">Food</a>
            <a href="" class="category__button">Music</a>
        </div>
    </section>
    <!-- ************************END OF CATEGORY BUTTONS  SECTION**************************** -->

{%endblock %}
