{% extends "base.html" %}
{% block content %}

<section class="singlepost">
        <div class=" container singlepost__container">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, sit.</h2>
            <div class="post__author">
                <div class="post__author-avator">
                    <img src="/static/images/avatar2.jpg" alt="">
                </div>
                <div class="post__author-info">
                    <h5>By: Jane Doe</h5>
                    <small>June 10, 2022 - 07:20</small>
                </div>
            </div>
            <div class="singlepost__thumbnail">
                <img src="/static/images/blog18.jpg" alt="">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur necessitatibus obcaecati
                quibusdam sed quod, deserunt voluptatem facere officiis, recusandae praesentium laborum sint. Sint minus
                amet velit voluptate reprehenderit, itaque, maxime laboriosam labore exercitationem adipisci
                voluptatibus numquam explicabo reiciendis quisquam.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur necessitatibus obcaecati
                quibusdam sed quod, deserunt voluptatem facere officiis, recusandae praesentium laborum sint. Sint minus
                amet velit voluptate reprehenderit, itaque, maxime laboriosam labore exercitationem adipisci
                voluptatibus numquam explicabo reiciendis quisquam.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur necessitatibus obcaecati
                quibusdam sed quod, deserunt voluptatem facere officiis, recusandae praesentium laborum sint. Sint minus
                amet velit voluptate reprehenderit, itaque, maxime laboriosam labore exercitationem adipisci
                voluptatibus numquam explicabo reiciendis quisquam.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur necessitatibus obcaecati
                quibusdam sed quod, deserunt voluptatem facere officiis, recusandae praesentium laborum sint. Sint minus
                amet velit voluptate reprehenderit, itaque, maxime laboriosam labore exercitationem adipisci
                voluptatibus numquam explicabo reiciendis quisquam.
            </p>
        </div>
    </section>

    <!-- ************************END OF SINGLEPOST SECTION**************************** -->

{% endblock %}
