{% extends "base.html" %}
{% block content %}
 
<div class="container profile__container">
    <h1>Welcome to your profile</h1>
</div>

<div class="container profile-pic__container"> 
 <img src="{{ image_url}}" alt="">
 </div>
 <section class="form__section">
        <div class="container form__section-container">
                       
            <form action="" enctype="multipart/form-data" method="post">
                 {{ form.hidden_tag() }}                
                               
                 {{ form.picture.label() }} {{ form.picture }}
                 {% if form.picture.error %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                 {% endif %}
                
                {{ form.submit(class="btn") }}
               
            </form>
        </div>
    </section>
 {% endblock %}
