{% extends "base.html" %}


{% block content %}
<div class="container profile__container">
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>{{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    
    {% for post in posts %}
    <table>
        <tr valign="top">
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td>{{ post.author.username }} says:<br>{{ post.body }}</td>
        </tr>
    </table>
</div>
    {% endfor %}
{% endblock %}


{% block footer %}
    <!-- Leave this block empty to omit the footer -->
{% endblock %}
