{% extends "base.html" %}
{% block content %}
    <section class="form__section">
        <div class="container form__section-container">
            <h2>Reset Password</h2>            
            <form action="" enctype="multipart/form-data" method="post">
                 {{ form.hidden_tag() }}                
                 
                 {{ form.email.label }} {{ form.email(size=20, required="required") }}
                 {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}                
                {{ form.submit(class="btn") }}                
            </form>
        </div>
    </section>
{% endblock %}

