{% extends "base.html" %}
{% block content %}

<section class="form__section">
        <div class="container form__section-container">
            <h2>Sign Up</h2>            
            <form action="" enctype="multipart/form-data" method="post">
                 {{ form.hidden_tag() }}                
                 {{ form.username.label }} {{ form.username(size=20, required="required") }}
                 {{ form.email.label }} {{ form.email(size=20, required="required") }}
                 {{ form.password.label }} {{ form.password(size=20, required="required") }}
                 {{ form.password2.label }} {{ form.password2(size=20, required="required") }}
                 
                
                {{ form.submit(class="btn") }}
                <small>Already have an account? <a href="{{ url_for('signin') }}">Sign In</a></small>
            </form>
        </div>
    </section>
{% endblock %}
