{% extends "base.html" %}

{% block content %}
<div class="container profile__container">
    <table>
        <tr valign="top">
            <td>
                

                {% if current_user.picture %}
                <img class="display__pic" src="{{ url_for('static', filename='images/' + current_user.picture) }}">
                {% else %}
                <img src="{{ url_for('static', filename='/images/default_profile_pc.png') }}" alt="Default Image"> 
                {% endif %}
            </td>
            <td class="user__table">
                <h1>{{ user.username }}</h1>
                
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen.strftime('%H:%M') }}</p>{% endif %}
                <p>{{ user.followers.count() }} followers &nbsp; {{ user.followed.count() }} following.</p>
                {% if user == current_user %}
                <p>
                    <a class="link__button" href="{{ url_for('edit_profile') }}">Edit your profile</a>&nbsp;
                     <a class="link__button" href="{{ url_for('add_post') }}">Create post </a>
                </p>
                
                {% elif not current_user.is_following(user) %}
                 <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                    
                </p>
                {% else %}
               <p>
                 <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow') }}
                </form>
              </p>
              {% endif %}
            </td>

            
        </tr>
    </table>
    </div>
 

 <div>

<section class="posts">
    <div class="container posts__container">
         {% for post in posts %}
        <article class="post">
            <div class="post__thumbnail">
                {% if post.image %}
                <img src="{{ url_for('static', filename='images/' + post.image) }}" alt="Post Image">
                {% else %}
                <img src="{{ url_for('static', filename='/images/blog18.jpg') }}" alt="Default Image"> 
                {% endif %}
            </div>
            <div class="post__info">
             <a href="{{ url_for('category', category_name=post.category.name) }}" class="category__button">{{ post.category.name}}</a>

                    <h3 class="post__title"><a href="{{ url_for('single_post', post_id=post.id) }}">{{ post.title }}</a></h3>
                    
                    <div class="post__author">
                        <div class="post__author-avator">
                            {% set author = authors[loop.index0] %}
                            {% if current_user.is_authenticated %}
                            <img src="{{ url_for('static', filename='images/' + author.picture) }}" alt="avatar">
                            {% else %}
                            <img src="{{ url_for('static', filename='/images/default_profile_pc.png') }}" alt="Default Image"> 
                            {% endif %}                           
                        </div>
                        <div class="post__author-info">
                            <a href="{{ url_for('user', username=post.author.username) }}">
                            <h5>By: {{post.author.username }}</h5></a>
                            <small>{{ post.timestamp.strftime('%b-%d-%Y') }}</small>
                        </div>
                    </div>
                </div>      
        </article>
        {% endfor %}
         {% if prev_url %}
    <a class="pagination" href="{{ prev_url }}">Newer posts  &nbsp;<i class="fa-sharp fa-solid fa-arrow-right fa-lg"></i></a>
    
    {% endif %}
    {% if next_url %}
    <a class="pagination" href="{{ next_url }}"><i class="fa-sharp fa-solid fa-arrow-left fa-lg"></i>&nbsp; Older posts</a>
    {% endif %}
    </div>
</section>      
</div>
{% endblock %}

